/* styles.css */

/* Add styles here to customize the appearance of your app */

@font-face {
  font-family: 'qern';
  src: url('./qern.ttf');
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#description {
  margin-bottom: inherit;
}

#resultContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#result {
  font-family: 'qern';
  align-self: center;
}
